.auth-form {
  display: block;
  background: rgba(45, 45, 45, 0.75);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 10px;
  z-index: 2;
}
.auth-form * {
  background: rgba(0, 0, 0, 0) !important;
}
.auth-form .auth-title, .auth-form .auth-description {
  text-align: center;
}
.auth-form .auth-title {
  margin-bottom: 8px;
}
.auth-form .auth-description {
  margin-bottom: 20px;
  box-sizing: border-box;
}
.auth-form .auth-logo {
  width: 44px;
  display: block;
  margin: auto;
}
.auth-form .auth-title {
  color: white;
  font-size: 38px;
  font-weight: bolder;
}
.auth-form .auth-description {
  color: rgb(196, 196, 196);
}
.auth-form .auth-type {
  color: orange;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}
.auth-form fieldset {
  color: orange;
  border-radius: 20px;
  border-color: grey;
  margin-bottom: 10px;
}
.auth-form fieldset input, .auth-form fieldset .auth-select {
  width: 100%;
  padding: 5px 8px;
  border-radius: 7px;
  border: none;
  color: white;
}
.auth-form fieldset input:-webkit-autofill, .auth-form fieldset input:-webkit-autofill:focus, .auth-form fieldset .auth-select:-webkit-autofill, .auth-form fieldset .auth-select:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
.auth-form fieldset input:focus, .auth-form fieldset .auth-select:focus {
  outline: none;
}
.auth-form fieldset input:focus::-moz-placeholder, .auth-form fieldset .auth-select:focus::-moz-placeholder {
  color: rgb(219, 219, 219);
}
.auth-form fieldset input:focus::placeholder, .auth-form fieldset .auth-select:focus::placeholder {
  color: rgb(219, 219, 219);
}
.auth-form fieldset input:hover::-moz-placeholder, .auth-form fieldset .auth-select:hover::-moz-placeholder {
  color: rgb(219, 219, 219);
}
.auth-form fieldset input:hover::placeholder, .auth-form fieldset .auth-select:hover::placeholder {
  color: rgb(219, 219, 219);
}
.auth-form fieldset .auth-select > option {
  padding: 10px;
  background: #3b3b3b !important;
}
.auth-form fieldset input[type=date] {
  color-scheme: dark;
}
.auth-form fieldset input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 34px;
  color-scheme: dark;
}
.auth-form .auth-submit {
  display: flex;
  flex-direction: column;
}
.auth-form .auth-submit #auth-register-recaptcha {
  opacity: 0.92;
  margin: 10px auto;
}
.auth-form .auth-submit #auth-register-recaptcha iframe {
  border: solid 1px grey;
  border-radius: 20px;
}
.auth-form .auth-submit .login-other-links {
  display: grid;
  grid-template-columns: 150px 150px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.auth-form .auth-submit button {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: orange;
  border: solid 2px rgb(85, 85, 85);
  font-size: 18px;
  cursor: pointer;
}
.auth-form .auth-result {
  margin: 100px 0px;
}
.auth-form .auth-result .auth-result-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.auth-form .auth-result .auth-result-image svg {
  width: 40px;
  height: 40px;
  fill: white;
}
.auth-form .auth-result .auth-result-message {
  text-align: center;
  color: white;
}

@keyframes fadeContainer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes revealContainer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shrinkContainer {
  to {
    height: 0px;
  }
}
.security-question-divider {
  border-bottom: dotted 2px rgba(255, 255, 255, 0.15);
  margin: 0px 10px 0px 10px;
}

.auth-register-form {
  background: red;
}

.auth-register-button:hover, .auth-login-button:hover {
  animation: hovered-auth-submit-button 0.3s forwards;
}
@keyframes hovered-auth-submit-button {
  from {
    color: orange;
    background: rgb(45, 45, 45);
    transform: scale(1);
  }
  to {
    color: rgb(255, 186, 57);
    background: rgb(60, 60, 60);
    transform: scale(1.02);
  }
}

.return-link {
  position: absolute;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
}
.return-link svg {
  width: 100%;
  height: 100%;
}
.return-link svg path {
  transform: scale(0.2);
  fill: rgba(255, 255, 255, 0.4);
}
.return-link svg:hover path {
  animation: animateReturnLinkHover 0.5s forwards;
}
@keyframes animateReturnLinkHover {
  from {
    fill: rgba(255, 255, 255, 0.4);
  }
  to {
    fill: rgb(255, 255, 255);
  }
}

#login-auth-form .login-other-links a {
  color: rgb(196, 196, 196);
  margin-right: 20px;
  text-decoration: none;
}
#login-auth-form .login-other-links a:last-child {
  padding-left: 20px;
  border-left: solid 2px rgb(146, 146, 146);
}
#login-auth-form .login-other-links a:hover {
  color: rgb(216, 216, 216);
}/*# sourceMappingURL=Auth.css.map */